<!-- // articles -->
{{ range  $index, $post := . }}
    <div class="row mt-5 article-card border-wt">
        {{ if ne $post.Cover "n/a" }}
        <div class="col-md-4 p-0 h-100">
            <img src="{{ $post.Cover }}" class="blog-cover-photo h-100 d-block">
        </div>
        {{end}}
        <div class="{{ if ne $post.Cover "n/a" }} col-md-8 {{ else }} col-md-12 {{end}}">
            <h4 class="white-color raisin-font pt-3"><a href="{{ $post.Slug }}" target="_blank" class="text-deco-none white-color">{{ stripTags $post.Title }}</a></h4>
            
            <p class="white-color Sulphur-point-font align-justify">{{ $description := stripTags $post.Description }} {{ TruncateByWords $description 30 }}</p>
            <p class="white-color Sulphur-point-font mt-4 pub-date">Published {{ $post.Pub_date }}</p>
        </div>
    </div>
{{end}}

{{ if not . }}
<div class="text-center mt-5">Sorry No Feeds Found. Click the <a href="/following/manage">Manage Following link to add rss feeds</a></div>
{{end}}
<!-- // articles ends  -->