{{template "header"}}

<div class="container pb-5">
    <div class="row">
        <!-- // left side content  -->
        <div class="col-md-10 offset-md-1">

            <!-- // add rss starts -->
            <div class="row mt-5 mb">
                <div class="col-md-12">
                    <div class="alert alert-success" style="display: none;"></div>
                    <div class="alert alert-danger" style="display: none;"></div>
                    <form class="add-rss-form" method="post">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Enter rss link" name="rss_link">
                            <div class="input-group-append">
                              <button class="btn btn-primary add-feed-btn" type="submit">Add Feed</button>
                            </div>
                        </div>
                        <span style="display: none;font-size: 12px;" class="rss_link text-danger"></span>
                        <p class="text-info mt-2">You can add the website's domain name like this <a href="https://lifehacker.com" target="_blank" class="text-info"><u>https://lifehacker.com</u></a> or the exact rss link url <a href="https://porh.hashnode.dev/rss.xml" target="_blank" class="text-info text-i"><u>https://porh.hashnode.dev/rss.xml</u></a></p>
                    </form>
                </div>
            </div>
            <!-- // add rss ends  -->

            <!-- // feeds -->
            <div class="data mb-5 mt-5"></div>
            
        </div>
        <!-- // left side content ends  -->
        
    </div>
</div>

{{ template "footer" }}

<script>
    $(document).ready(()=> {

        fetchData()

        $(".add-rss-form").submit((e)=> {

            e.preventDefault()

            let formData = new FormData($(".add-rss-form").get(0))

            $.ajax({
                method: "POST",
                url: "/following/feeds",
                processData: false,
                contentType: false,
                data: formData,
                beforeSend: () => {

                    $(".add-feed-btn").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden"></span>')

                },
                success: (response) => {

                    response = JSON.parse(response)

                    $(".add-feed-btn").html('Add Feed')

                    if(response !=null && response.rss_link != null) {

                        $(".rss_link").css('display', 'block')
                        $(".rss_link").text(response.rss_link)

                    } else if(response !=null && response.error != null){

                        $(".alert-danger").text(response.error)
                        $(".alert-danger").css('display', 'block')
                        $(".rss_link").css('display', 'none')
                        $(".alert-success").css('display', 'none')

                    } else if (response !=null && response.success != null) {
                        $(".alert-success").text('Rss Feed added successfully. Please check the following page, to read posts from your feed.')
                        $(".alert-success").css('display', 'block')
                        $(".rss_link").css('display', 'none')
                        $(".alert-danger").css('display', 'none')
                        $(".add-rss-form").get(0).reset()
                        fetchData()
                    } else {

                        $(".alert-success").css('display', 'none')
                        $(".rss_link").css('display', 'none')
                        $(".alert-danger").css('display', 'none')

                    }

                    console.log(response)
                },
                error: (error) => {

                    $(".add-feed-btn").html('Add Feed')

                    $(".alert-danger").text("Technical Error Occured. Please try again")
                    $(".alert-danger").css('display', 'block')
                    $(".alert-success").css('display', 'none')
                    $(".rss_link").css('display', 'none')

                }
            })

        })

    })

    function fetchData() {

        $.ajax({
            url: "/following/feeds",
            type: "GET",
            beforeSend: function(xhr){
                xhr.setRequestHeader('X-Requested-With', 'xmlhttprequest');
                $(".data").html('<div class="text-center"><span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span><span class="visually-hidden"></span></div>')
            },
            success: function(response) { 

                $(".data").html(response)

            },
            error: (error) => {
                $(".data").html('<div class="text-center">Unable to load content, please reload page.</div>')
                console.log(error)
            }
        });

    }
</script>