<!-- // articles -->
{{ $posts := .posts }}
{{ $summary_length := .summary_length }}
{{ range  $index, $post := $posts }}
    <div class="row mt-5 article-card border-wt">
        {{ if ne $post.Cover "n/a" }}
        <div class="col-md-4 p-0 h-100">
            <img src="{{ $post.Cover }}" class="blog-cover-photo h-100 d-block">
        </div>
        {{end}}
        <div class="{{ if ne $post.Cover "n/a" }} col-md-8 {{ else }} col-md-12 {{end}}">
            <h4 class="white-color raisin-font pt-3"><a href="{{ $post.Slug }}" target="_blank" class="text-deco-none white-color">{{ stripTags $post.Title }}</a></h4>
            
            <p class="white-color Sulphur-point-font align-justify">{{ $description := stripTags $post.Description }} {{ TruncateByWords $description $summary_length }}</p>
            <p class="white-color Sulphur-point-font mt-4 pub-date">
                <div class="d-flex">
                    <div class="w-50">Published {{ $post.Pub_date }}</div>
                    <div class="w-50 text-right pr-4">
                        {{ if $post.Read_at.IsZero }}
                        <a href="javascript:void(0)" data-post-id="{{ parseObjectId $post.Id }}" data-post-read-status="read" class="btn btn-sm btn-secondary set-read-at">Mark As Read</a>
                        {{else}}
                        <a href="javascript:void(0)" data-post-id="{{ parseObjectId $post.Id}}" data-post-read-status="unread" class="btn btn-sm btn-info set-read-at">Mark As Unread</a>
                        {{end}}
                        <a href="javascript:void(0)" data-post-id="{{ parseObjectId $post.Id }}" class="btn btn-sm btn-danger remove-post"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </p>
        </div>
    </div>
{{end}}

{{ if not $posts }}
<div class="text-center mt-5">Sorry No Feeds Found. Click the <a href="/following/manage">Manage Following link to add rss feeds</a></div>
{{end}}
<!-- // articles ends  -->
<script>
    $(".set-read-at").each((i, e) => {

        $(e).click(()=> {

            let post_id = $(e).attr("data-post-id")
            let post_read_status =  $(e).attr("data-post-read-status")
            $.ajax({

                url: "/following/"+post_id+"/update?status="+post_read_status,
                type: "PUT",
                beforeSend: function(xhr){
                    xhr.setRequestHeader('X-Requested-With', 'xmlhttprequest');
                    $(e).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden"></span>')
                },
                success: function(response) {

                    response = JSON.parse(response)
                    if(response.success) {
                        fetchData()
                    }
                },
                error: (error) => {
                    $(e).html('Mark As Read')
                    console.log(error)
                }
            });
            
        })

    })

    $(".remove-post").each((i, e) => {

        $(e).click(() => {

            let post_id = $(e).attr("data-post-id")

            $.ajax({
                url: "/following/"+post_id+"/delete",
                type: "DELETE",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-Requested-With', 'xmlhttprequest');

                    $(e).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden"></span>')
                },
                success: function(response) { 

                    $(e).html('<i class="fa fa-trash"></i>')

                    response = JSON.parse(response)

                    if(response.success) {
                        fetchData()
                    }

                },
                error: (error) => {

                    $(e).html('<i class="fa fa-trash"></i>')
                    
                    console.log(error)
                }
            });
            
        })

    })
</script>