{{template "header"}}

<div class="container pb-5">
    <div class="row pb-5">
        <!-- // left side content  -->
        <div class="col-md-10 offset-md-1 ajax-data pb-5"></div>
        <!-- // left side content ends  -->
    </div>
</div>

{{ template "footer" }}
<script>
    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });

    $(document).ready(()=>{
        fetchData(params.s_qry)
    })


    function fetchData(s_qry="") {

        $.ajax({
            url: "/following?s_qry="+s_qry,
            type: "GET",
            beforeSend: function(xhr){
                xhr.setRequestHeader('X-Requested-With', 'xmlhttprequest');
                $(".ajax-data").html('<div class="text-center mt-5"><span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span><span class="visually-hidden"></span></div>')
            },
            success: function(response) { 

                $(".ajax-data").html(response)

            },
            error: (error) => {
                $(".ajax-data").html('<div class="text-center mt-5">Unable to load content, please reload page.</div>')
                console.log(error)
            }
        });

    }

    

    

</script>