<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>S/n</th>
            <th>Rss Feed</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{$i:=0}}
        {{ range $index, $feed := .}}
        {{$i = add $i 1}}
        <tr>
            <td>{{ $i }}</td>
            <td><a href="{{ $feed.Link }}" target="_blank">{{ $feed.Link }}</a></td>
            <td>{{ $feed.Created_at }}</td>
            <td class="text-center">
                <a href="javascript:void(0)" data-feed-id="{{ parseObjectId $feed.Id }}" class="btn btn-sm btn-danger remove-feed">Delete</a>
            </td>
        </tr>
        {{end}}

        {{ if not . }}
        <tr><td colspan="4" class="text-center">No Records Found</td></tr>
        {{end}}
    </tbody>
</table>

<script>
    $(".remove-feed").each((i, e) => {

        $(e).click(() => {

            let feed_id = $(e).attr("data-feed-id")

            $.ajax({
                url: "/feeds/"+feed_id+"/delete",
                type: "DELETE",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-Requested-With', 'xmlhttprequest');

                    $(e).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden"></span>')
                },
                success: function(response) { 

                    $(e).html('Delete')

                    response = JSON.parse(response)

                    if(response.success) {
                        fetchData()
                    }

                },
                error: (error) => {

                    $(e).html('Delete')
                    
                    console.log(error)
                }
            });
            
        })

    })
</script>